*{  padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.nav-container{
    display: flex;
    /* gap: 314px; */
    justify-content: space-between;
    background-color: #412567;
    align-items: center;
    width: 1538px;
    height: 82px;
}
.nav-link{
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-size: 16px ;
    color: #ffffff;
}
.nav-link a{
    color: #ffffff;
    text-decoration: none;
}

.btn{
    padding: 12px 16px 12px 16px;
    width: 135px;
    height: 44px;
    display: flex;
    gap: 1px;
    font-size: 16px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}


.back-container{
    background-color: #1a083a; 
    background-image: url("./images/hero-circle.png"), url("./images/hero-bg.png"); 
    background-repeat: no-repeat, no-repeat;
    background-position: center 100px, center center; 
    background-size: auto,cover; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
    text-align: center;  
    width: 100%;
    max-width: 1538px;
    height: 760px;
    padding: 0;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 70px;
}

.back-container .new{
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    padding: 8px 16px 8px 16px;
    color:#1A0B2E;
    font-size: 18px;
    font-weight: 600px;
    margin: 0px 648px 0px 877px;
    margin-top: 370px;
    border-radius: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.img1{
    height: 175px; 
    width: auto; 
    margin-bottom: 370px;
    margin-left: 695px;
    justify-content: center; 
    align-items: center; 
}

.back-title{
    margin-bottom: 8px;
    font-size: 66px;
    font-weight: bold;
    color: #ffffff;
    /* margin-top: 20px; */
}
.back-info{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 24px;
}
.back-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 8px;
    margin-bottom:151px ;
}
.btn-1{
    width: 201px;
    height: 44px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color:#ffffff;
    border-radius:1000px;
    border:none;
    display: flex;
    /* gap: 1px; */
    font-style: 600;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    align-items: center;
    justify-content: space-around;
    padding: 12px 20px 12px 20px;
}
.btn-2{
    width:147px;
    height: 44px;
    background-color: transparent;
    color:#ffffff;
    border-radius:1000px;
    display: flex;
    gap: 2px;
    font-style: 600;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    align-items: center;
     padding: 12px 20px 12px 20px;
     border: 1px solid #00FF88;

}